<?xml version="1.0"?>
<launch>
      <!-- Spawn the robot -->
    <include file="$(find warthog_gazebo)/launch/warthog_world.launch"/>
    <param name="/use_sim_time" value="true"/>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find warthog_navigation)/rviz/hector.rviz" />
    
      <!-- Move Bae node -->
    <include file="$(find warthog_navigation)/launch/move_base.launch" />

    <!--convert pointcloud 3d to 2d (pointcloud_to_laserscan)-->
    <node name="pointcloud_to_laserscan" pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node"   >
        <remap from="cloud_in" to="velodyne_points"/>
        <rosparam command="load" file="$(find warthog_navigation)/config/pointcloud.yaml"/>
    </node> 

    <!--tf-->
    <node name="world_broadcaster" pkg="tf" type="static_transform_publisher" output="screen"
      args="0 0 0 0 0 0 /map /odom 100"/>
    
    <include file="$(find warthog_navigation)/launch/hector.launch"/>

</launch>